
h1{
    background-color: rgb(223, 158, 19);width: 400px;
    color:rgb(0, 0, 0);
    border-radius: 30px;margin: 50px;padding: 20px;
    font-style: oblique; border-style: solid;border-color:blue;
}
#preagraph-1{
    background-color:rgb(36 13 36 / 21%);
 color:rgb(0, 0, 0);width: 300px;margin: 60px;padding: 40px;border-radius: 30px; 
 border-style: solid;border-color:black;
}

#hello-2{
    color:black;
    background-color:rgb(36 13 36 / 21%);;margin: 60px;padding: 40px;width: 300px;border-radius: 30px ;border-style: solid;border-color:black;
}
.hello{
    background-color: rgb(36 13 36 / 21%);
    color: rgb(0, 0, 0);margin: 60px;padding: 40px;width: 300px;border-radius: 30px;
    border-style: solid;border-color:black;
}
    .yogesh{
      
        background-color: rgb(36 13 36 / 21%);
    color: rgb(0, 0, 0);margin: 60px;padding: 40px;width: 300px; ; border-radius:30px ;
    border-style: solid;border-color:black;
}

    
